.corpo{
    background: rgb(96, 213, 231);
    text-align:center;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.corpo1{
    background: rgb(96, 213, 231);
    text-align:center;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.corpo2{
    background: rgb(96, 213, 231);
    text-align:center;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.corpo3{
    background: rgb(73, 225, 99);
    text-align:center;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.corpo4{
    background: rgb(73, 225, 99);
    text-align:center;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.corpo5{
    background: rgb(73, 225, 99);
    text-align:center;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.corpo6{
    background: rgb(225, 126, 73);
    text-align:center;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.corpo7{
    background: rgb(225, 126, 73);
    text-align:center;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.corpo8{
    background: rgb(225, 126, 73);
    text-align:center;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}